html{
    background-color: rgb(239, 37, 158);
}

header{
    text-align: left;


}

h1{
    text-align: left;
    color: aqua;
    text-decoration: wavy;
    font-family: fantasy;
}

.hello{
    font-family: fantasy;
    color: black;
    font-weight: 500;
    font-style: italic;
}

footer{
    line-height: 0cqh;
    font-size: x-large;
}

h6{
    line-height: 0cqmax;
    
}