html{
    background-color: plum;
}

header{
    text-align: left;


}

h1{
    text-align: left;
    color: aqua;
    text-decoration: wavy;
    font-family: fantasy;
}

.hello{
    font-family: fantasy;
    color: black;
    font-weight: (240,219,230);
    font-style: italic;
}

footer{
    line-height: 0cqh;
    font-size: x-large;
}

h6{
    line-height: 0cqmin;

}